:root {
  --cor-de-fundo: #f5f5f5;
  --cor-de-fundo-menu: #ffffff;
  --cor-do-link: #000000;
  --cor-de-fundo-sobre-mim: #eaf2fd;
  --cor-de-fundo-habilidades: #f7f7f7;
}

body {
  box-sizing: border-box;
  padding: 0;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
  background-color: var(--cor-de-fundo);
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--cor-de-fundo-menu);
}

.cabecalho__logo {
  max-width: 80px;
  /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
  font-size: 1.2rem;
  text-align: center;
}

.navegacao__lista {
  display: none;
}

.navegacao__elemento a {
  font-size: 0.9rem;
}

.contato__email {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: 21rem;
}

.contato__email a {
  font-size: 1em;
  color: #333;
  text-decoration: none;
}

/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao__foto {
  max-width: 98px;
  width: 100%;
}

.redes {
  display: flex;
  gap: 1rem;
  padding: 0rem;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

/*------------------------------ Seção de Habilidades ------------------------------*/

.habilidades,
.hobbies {
  padding: 2rem;
  text-align: center;
  background-color: var(--cor-de-fundo-habilidades);
}

.habilidades__titulo {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: bold;
}

.habilidades__lista,
.hobbies__lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1560px;
  width: 100%;
  height: 118px;
  padding: 1rem;
  margin: 0 auto;
}

.habilidades__elemento,
.hobbies__elemento {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  background: var(--cor-de-fundo-menu);
}

.habilidades__icone,
.hobbies__icone {
  max-width: 28px;
  margin-top: 5rem;
}

.habilidades__nome,
.hobbies__nome {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

/*------------------------------ Seção de Hobbies --------------------------------*/

.hobbies {
  z-index: 2;
}

.hobbies,
.formacao {
  position: relative;
}

/*------------------------------ Seção de Formação --------------------------------*/

.formacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  margin-top: 30rem;
}

.formacao__titulo {
  padding: 3rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.formacao__lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  max-height: 70vh;
}

.formacao__elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.formacao__imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: var(--cor-de-fundo-menu);
  text-align: center;
}

.formacao__icone {
  max-width: 70px;
  width: 100%;
  height: auto;
  text-align: center;
}

.formacao__conteudo {
  width: 100%;
  margin-top: 0;
  text-align: left;
}

.formacao__nome {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.formacao__detalhe {
  display: flex;
  font-size: 1rem;
  color: #666;
}

/*------------------------------ Seção de Projetos --------------------------------*/

/*------------------------------ Seção de Contato ---------------------------------*/

.contato {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #eaf3ff;
}

.contato__imagem {
  max-width: 464px;
  width: 100%;
  height: auto;
}

.contato__titulo {
  margin-top: 0;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Formulário */
.contato__formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 490px;
  margin-top: 8rem;
  margin-left: -8rem;
  width: 100%;
}

.contato__campo {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  /* Bordas arredondadas */
  background-color: #ffffff;
  /* Fundo branco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  outline: none;
  /* Remove a borda ao focar */
  transition: box-shadow 0.3s ease;
  /* Suaviza a sombra */
}

.contato__campo::placeholder {
  color: #aaa;
  /* Cor do texto do placeholder */
}

.contato__campo:focus {
  box-shadow: 0 0 4px #2b6cb0;
  /* Destaque azul ao focar */
}

/* Área de Mensagem */
.contato__campo__textarea {
  height: 150px;
  /* Altura maior para textarea */
  resize: none;
  /* Remove a redimensionamento */
}

/* Botão */
.contato__botao {
  max-width: 215px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  color: #fff;
  /* Texto branco */
  background-color: #2b6cb0;
  /* Cor azul */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contato__botao:hover {
  background-color: #2a4365;
  /* Tom mais escuro no hover */
}

/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 568px) {

  .habilidades__lista,
  .hobbies__lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cabecalho {
    flex-direction: row;
    align-items: center;
  }

  .cabecalho__logo {
    max-width: 100px;
  }

  .cabecalho__titulo {
    font-size: 1.5rem;
  }

  .navegacao__elemento {
    display: none;
  }

  .navegacao__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  .navegacao__elemento a {
    font-size: 1rem;
  }

  .contato__email {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: 21rem;
  }

  .contato__email a {
    font-size: 1em;
    color: #333;
    text-decoration: none;
  }

  .habilidades__lista,
  .hobbies__lista {
    grid-template-columns: repeat(3, 1fr);
  }

  .formacao__lista {
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
  }
}

/* Telas grandes */
@media (min-width: 1024px) {
  .cabecalho {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 150px 0 150px;
  }

  .cabecalho__conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-left: 0;
  }

  .cabecalho__titulo {
    font-size: 1.5rem;
  }

  .navegacao__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .navegacao__elemento {
    display: block;
  }

  .navegacao__elemento a {
    font-size: 1.1rem;
  }

  .contato__email {
    display: none;
  }

  .apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 185px 35px 185px;
    margin-bottom: 40px;
  }

  .apresentacao__foto {
    order: 2;
    margin-left: 10px;
    max-width: 250px;
    width: 100%;
    border-radius: 250px;
  }

  .apresentacao__container {
    display: flex;
    order: 1;
  }

  .apresentacao__titulo {
    font-size: 30px;
    align-items: center;
    margin-bottom: 0px;
    color: #464646;
  }

  .apresentacao__subtitulo {
    margin-top: 10px;
  }

  .redes__elemento {
    display: flex;
  }

  .sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 35px 185px 35px 185px;
    margin-bottom: 40px;
    width: 100%;
    background-color: #f0f8ff;
  }

  .sobre-mim__titulo {
    color: #464646;
  }

  .habilidades,
  .hobbies,
  .projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 35px 185px 35px 185px;
  }

  .habilidades__lista,
  .hobbies__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .habilidades__elemento,
  .hobbies__elemento {
    width: 150px;
    height: 150px;
  }

  .formacao {
    margin-top: 0;
  }

  .formacao__detalhe {
    margin-top: 0;
  }
}